[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
secure-file-priv=NULL
default-time-zone='+8:00'
character-set-server=utf8mb4
collation-server=utf8mb4_bin
lower_case_table_names=true
skip-host-cache
skip-name-resolve
