<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志root级别 -->
    <springProperty name="ROOT_LEVEL" source="log.root-level" />
    <!-- 日志文件的存储地址 -->
    <springProperty name="HOME" source="log.home" />
    <!-- 文件最大大小 -->
    <springProperty name="MAX_SIZE" source="log.max-size" />
    <!-- 文件保留天数 -->
    <springProperty name="MAX_HISTORY" source="log.max-history" />
    <!-- 日志编码 -->
    <springProperty name="CHARSET" source="log.charset" />

    <!-- TRACE日志 -->
    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/trace/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!-- 日志过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- DEBUG日志 -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/debug/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!-- 日志过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- INFO日志 -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/info/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!-- 日志过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 警告日志 -->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/warn/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!-- 日志过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 错误日志 -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/error/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <!-- 日志过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 日志输出级别 -->
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="TRACE" />
        <appender-ref ref="DEBUG" />
        <appender-ref ref="INFO" />
        <appender-ref ref="WARN" />
        <appender-ref ref="ERROR" />
    </root>

    <!-- mybatis日志 -->
    <appender name="MYBATIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${HOME}/mybatis/log-%d{yyyy-MM-dd_HH}.%i.log</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!-- 日志文件最大的大小 -->
            <MaxFileSize>${MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <!-- mybatis日志 -->
    <logger name="com.xzixi.framework.webapps.system.mapper" level="TRACE" additivity="true">
        <appender-ref ref="MYBATIS" />
    </logger>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <!-- 控制台输出 -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
                <charset>${CHARSET}</charset>
            </encoder>
        </appender>

        <!-- 日志输出级别 -->
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
</configuration>
