package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.springframework.stereotype.Repository;

/**
 * $!{table.comment} Mapper 接口
 *
 * @author ${author}
 * @date ${date}
 */
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {
}
